[submodule "third_party/Flux"]
	path = third_party/Flux
	url = https://github.com/Yang-Junjie/Flux.git
[submodule "third_party/fastgltf"]
	path = third_party/fastgltf
	url = https://github.com/spnda/fastgltf.git
[submodule "third_party/simdjson"]
	path = third_party/simdjson
	url = https://github.com/simdjson/simdjson.git
